<h1>Questions and shit</h1>
<p><%= link_to "Add Question", new_question_path() %></p>

  <%= @question.content %>
  <br>
    <%= link_to @question.answers.first.content, question_path(@question, vote_1:true), remote: true, class: 'answer1', method: 'patch' %> || <%= link_to @question.answers.last.content, question_path(@question, vote_2:true), remote: true, class: 'answer2', method: 'patch' %>
  <br>

<span id='next-question'></span>
