<h1>Questions and shit</h1>
<p><%= link_to "Add Question", new_question_path() %></p>

<% @questions.each do |question| %>
  <%= question.content %>
  <br>
    <%= link_to question.answers.first.content, edit_question_path(question, vote_1:true) %> || <%= link_to question.answers.last.content, edit_question_path(question, vote_2:true) %>
  <br>
<% end %>
