<div class='comment-style' id="comment<%=comment.id%>">
<%= comment.content %><br>
<% if comment.user == current_user || current_user && current_user.admin %>
  <%= link_to "delete", question_comment_path(@question, comment), method: :delete, remote: true %>
<% end %>
written by <%= comment.user.email %><br><br>
</div>
